<a href="https://colab.research.google.com/github/LFuciarelli/esercizi-IP/blob/master/Python_Set_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Insiemi in Python

In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.

In [ ]:
# Creare l'insieme non vuoto {0, 5, 2, 7, 11}. Stampare tutti gli elementi.

X = {0, 5, 2, 7, 11}

# print(X)

for i in X:
  print(i)

0
2
5
7
11

In [ ]:
# aggiungere l'elemento 5
 
X.add(5)
 
print(X)

{0, 2, 5, 7, 11}

In [ ]:
# eliminare l'elemento 7

X.remove(7)

In [ ]:
# Dato l'insieme Y = {1, 3, 5, 11, 12, 15}, calcolare l'intersezione e l'unione di X e Y

Y = {1, 3, 5, 11, 12, 15} 

intersezione = X & Y 
unione = X | Y

print(intersezione)
print(unione)

{11, 5}
{0, 1, 2, 3, 5, 11, 12, 15}

In [ ]:
# Calcolare la differenza di X e Y e di Y e X poi l'intersezione delle due differenze.

diff1 = X - Y
diff2 = Y - X

print(diff1)
print(diff2)

print(diff1 & diff2)
print(diff1.isdisjoint(diff2))

{0, 2}
{1, 3, 12, 15}
set()
True

**Esercizio**

![symmetric.png]()

In [ ]:
# Dati gli insieme A = {5, 4, 10, 18, 73, 9} e B = {18, 16, 10, 9, 4} calcolare 
# l'insieme costituito dagli elementi che appartengono in modo esclusivo ad A o a B,
# come mostrato in figura.
A = {5, 4, 10, 18, 73, 9}
B = {18, 16, 10, 9, 4}
insieme = (A | B) - (A & B)
print(insieme)

{16, 73, 5}

In [ ]:
# In realtà esiste già un metodo di classe! per calcolare la symmetric difference

A = {5, 4, 10, 18, 73, 9} 
B = {18, 16, 10, 9, 4}

C = A ^ B

print(C)

{16, 73, 5}

Proviamo a lavorare con la definizione di insieme proprio.

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5}

b.issubset(a)

True

In [ ]:
a = {1,2,3,4,5}
b = set() # insieme vuoto

b.issubset(a) # True
a.issubset(a) # True

# sono sottoinsiemi impropri! issubset non è il metodo esatto per i sottoinsiemi propri

True

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5}
c = a.issuperset(b)

print(c) # True

d = a.issuperset(a)

print(d) # True

True
True

**Esercizio** Definire una funzione Python che, presi in argomento due insiemi A e B, restituisca True se A è sottoinsieme proprio di B, False altrimenti.

In [ ]:
def issubsetB():
    if (A == B or A == set()):
        return False
    for e in A:
      if e not in B:
          return False
    return True

A = set()
B = {1, 2, 3}
print(issubsetB())

False

Prodotto cartesiano tra insiemi.

In [ ]:
# Calcolare il prodotto cartesiano tra X e Y

prodotto = set()

for y in Y:
  for x in X:
    prodotto.add((x,y))

print(prodotto)

{(11, 11), (2, 1), (2, 12), (5, 1), (2, 5), (0, 3), (5, 5), (0, 15), (11, 5), (5, 12), (0, 11), (11, 1), (5, 11), (0, 12), (5, 15), (2, 3), (0, 5), (11, 12), (5, 3), (0, 1), (2, 11), (11, 3), (2, 15), (11, 15)}

In [ ]:
prodotto2 = {(x,y) for x in X for y in Y} # con set comprehension 

print(prodotto2)

{(11, 11), (2, 1), (2, 12), (5, 1), (2, 5), (0, 3), (5, 5), (0, 15), (11, 5), (5, 12), (0, 11), (11, 1), (5, 11), (0, 12), (5, 15), (0, 5), (2, 3), (11, 12), (5, 3), (0, 1), (2, 11), (11, 3), (2, 15), (11, 15)}

In [ ]:
prodotto == prodotto2 #verifica se i due set sono uguali

True

--> set equality comparison just takes into account if the two sets share the exact same elements, regardless of order. And that brings us to the next point – there’s no indexing with sets. This means there’s no such thing as the “first” element or “second element”, etc.

In [ ]:
# con le liste infatti..

lista1 = [1, 3, 2]
lista2 = [1, 2, 3]

print(lista1 == lista2)

print(lista1[1])

False
3

Prodotto cartesiano con generatori..

In [ ]:
prod = ((x,y) for x in X for y in Y) # con generator expression 

print(prod) # Instead of creating a list and keeping the whole sequence in the memory, the generator generates the next element in demand.

<generator object <genexpr> at 0x7f9139458830>

In [ ]:
print(prod)

prod.__next__()

#for m in prod:
 # print(m)

<generator object <genexpr> at 0x7f9139458830>

(0, 1)

In realtà esiste un metodo della libreria Itertools che calcola il prodotto cartesiano (in una riga di codice!)

In [ ]:
# prodotto cartesiano utilizzando il metodo product della libreria Itertools

import itertools

prod2 = itertools.product(X, Y)

""Ordinare"" i set?

In [ ]:
DataScience = {'Python', 'R', 'SQL', 'Tableau', 'Neo4j'} 

for i in DataScience:
  print(i)

Neo4j
R
Python
SQL
Tableau

In [ ]:
#  utilizzando sorted..

sorted_DataScience = sorted(DataScience, reverse = False)

print(sorted_DataScience)

['Neo4j', 'Python', 'R', 'SQL', 'Tableau']

In [ ]:
type(sorted_DataScience) # ma non è un set! Ecco il trucco

list

In [ ]:
print(set(sorted_DataScience)) # Si perde l'ordine!! Quindi per mantenere l'ordine bisogna usare un'altra struttura dati (le liste)

{'Neo4j', 'R', 'Python', 'SQL', 'Tableau'}

# Perché usare gli insiemi?

I Python set sono molto efficienti per alcune operazioni, come l'eliminazione di duplicati.

In [ ]:
my_list = [1, 2, 4, 1, 13]

print(list(set(my_list)))

[1, 2, 4, 13]

In [ ]:
def remove_duplicates(original):
    unique = []
    [unique.append(n) for n in original if n not in unique]
    return(unique)
    
print(remove_duplicates([1, 2, 3, 1, 7]))

[1, 2, 3, 7]

In [ ]:
import timeit
# Approach 1: Execution time 
print(timeit.timeit('list(set([1, 2, 3, 1, 7]))', number=10000))
# Approach 2: Execution time
print(timeit.timeit('remove_duplicates([1, 2, 3, 1, 7])', globals=globals(), number=10000))

0.006258927000089898
0.011382251999975779

Il confronto mostra che l'utilizzo dei set è più efficiente. Anche se può sembrare una differenza trascurabile su grandi quantità di dati fa la differenza!

Altro vantaggio: **Membership Tests**

In particolare, i Python set svolgono questa funziona in modo molto più efficiente rispetto alle liste.

In Python esiste l'operatore "in" [not in] per verificare l'appartenenza [non appartenenza] di un elemento ad una lista o a un insieme.

es: 
```
A = [1, 4, 6, 7] # list
5 in A # False
6 in A # True
2 not in A # True 
```

..**this is because the average case time complexity of membership tests in sets are O(1) vs O(n) for lists**..

In [ ]:
# esercizio proposto: fare una prova utilizzando come prima la libreria timeit
import timeit
A = [1, 4, 6, 7]
print(timeit.timeit('5 in A', number=10000))

NameError: ignored

# Esercizi (da qui in poi lavorano da soli con noi in linea)

Utilizzando le **Set comprehension**: generare il **sottinsieme proprio** di W composto dai suoi **numeri pari**

In [ ]:
W = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16} 
Wpari = {x for x in W if x % 2 == 0}
print(Wpari)

{2, 4, 6, 8, 10, 12, 14, 16}

Utilizzando set comprehension ricavare il sottinsieme delle parole con lunghezza <= 3

In [ ]:
words = {'and', 'cat', 'had', 'hat', 'in', 'one', 'sidekicks', 'the', 'thing', 'two', 'house', 'apple', 'orange', 'dot'}
words3 = {w for w in words if len(w) >= 3}
print(words3)

{'orange', 'hat', 'the', 'sidekicks', 'and', 'had', 'apple', 'two', 'house', 'dot', 'thing', 'cat', 'one'}

# Esercizio Insieme delle Parti

Implementare una funzione Python che:
- prendi in argomento un insieme A (per semplicità una lista)
- generi come risultato l'insieme delle parti di A (come lista di tuple)

Es:

[1,2,3] --> [(), (1,), (2,), (3,), (1,2), (1,3), (2,3), (1,2,3)]

Nota: i Python set sono un tipo di dato mutabile (= si possono aggiungere/eliminare elementi) che possono contenere solo **oggetti non mutabili**. In Python gli oggetti non mutabili sono gli int, float, complex, string ecc.
Sono oggetti mutabili invece le liste, i set ecc.

Quindi:

```
A = {1,2,3}
B = {4,5}
A.add(4) #ok, gli interi sono immutabili
A.add([3,4,5]) # errore, le lista sono mutabile 
A.add(B) # errore, i set sono mutabili
```
**E' per questo motivo che ti suggeriamo di prendere come argomento una lista e di restituire come risultato un'altra lista (quindi di consideare, per questo esercizio, le liste come insiemi!)**

In [ ]:
# Per realizzare la funzione ti suggeriamo i metodi chain.from_iterable, combinations della libreria Itertools.
# Leggi la documentazione qui: https://docs.python.org/3/library/itertools.html#itertools.chain.from_iterable

from itertools import chain, combinations

def insieme_delle_parti(lista):
  insiemep = []
  for i in range(len(lista)+1):
    for e in (combinations(lista, i)):
      insiemep.append(e)
  return insiemep


print(insieme_delle_parti([1, 2, 3]))

[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

# Insieme delle Parti con Frozen Set

In Python esiste il tipo di dato **non mutabile** built-in **Frozen Set**. E' un insieme non mutabile (una volta creato non puoi modificarlo).

Documentazione ufficiale della classe frozen set: https://docs.python.org/3/library/stdtypes.html#frozenset

In [ ]:
# esempio frozen set

lista = [1, 2, 3, 4]

A = set(lista)

B = frozenset(A)

print(A.add(3))
print(B.add(3)) # 'frozenset' object has no attribute 'add'

Riprendenre l'esercizio precedente, modificare la funzione *insieme_delle_parti* in modo da ottenere come risultato un set di frozen set (quindi un set di oggetti non mutabili di tipo frozen set). In questo modo il risultato sarà un "vero" insieme delle parti.

In [ ]:
from itertools import chain, combinations

def insieme_delle_parti(lista):
  insiemep = []
  for i in range(len(lista)+1):
    for e in (combinations(lista, i)):
      insiemep.append(frozenset(e))
  return set(insiemep)


print(insieme_delle_parti([1, 2, 3]))

{frozenset({2}), frozenset({2, 3}), frozenset({1, 2}), frozenset({1, 2, 3}), frozenset({3}), frozenset({1}), frozenset(), frozenset({1, 3})}

# Dataframe come Insiemi! :-)

La libreria Pandas, molto utilizzata nella data science, fornisce due tipi di dati molto utili: Series e Dataframe. 

- Series rappresenta dati 1D, come le serie temporali
- DataFrame rappresenta dati 2D, praticamente qualunque insieme di dati in forma tabellare ed ogni colonna è una Series.

A scopo didattico, proviamo a trattare i Pandas DataFrame come insiemi matematici.

In [ ]:
import pandas as pd


# Algebra students
Alg = pd.DataFrame ({"name":["Chiara","Daniele", "Giorgio"],
        "email":["chiara@xyz.com","d@xyz.com", "g@xyz.com"]})

# ASD students
Asd = pd.DataFrame ({"name":["Giovanna","Chiara"],
        "email": ["gg@xyz.com","chiara@xyz.com"]})

In [ ]:
print(Alg)

In [ ]:
#differenza

Alg_only = Alg[Alg.email.isin(Asd.email) == False]

print(Alg_only)

In [ ]:
# intersezione 

intersection = Alg.merge(Asd) 
print(intersection)

**Esercizio.** Determinare l'unione dei due dataframe Alg e Asd. Nota: non esiste il concetto di "unione insiemistica" in Pandas, attenzione ai duplicati!

In [ ]:
# Unione di due dataframe
# Hint: cercare metodi concat e drop_duplicates() di Pandas

Prodotto cartesiano tra due dataframe (già risolto):

In [ ]:
df1 = pd.DataFrame({'key':[1,1], 'col1':[1,2],'col2':[3,4]})
df2 = pd.DataFrame({'key':[1,1], 'col3':[5,6]})

print(df1)
print(df2)
pd.merge(df1, df2,on='key')[['col1', 'col2', 'col3']]

Il **Join** è la combinazione del contenuto di due o più tabelle. In generale differisce dal prodotto cartesiano e non è l'unione insiemistica di due tabelle. 
Con il join le tabelle vengono in genere unite mediante dati condivisi..

In [ ]:
# Matricole
matricole = pd.DataFrame ({"Id":["001","002", "003","004"],"name":["Chiara","Daniele", "Giorgio","Giovanna"],
        "email":["chiara@xyz.com","d@xyz.com", "g@xyz.com", "gg@yyy.com"], "IDcorsi":["1","2", "3", "null"],})

# Corsi
corsi = pd.DataFrame ({"Id":["1","2","3","4"],"name":["Algebra","IP","ASD","IDS"]})



result = pd.merge(matricole, corsi, how='inner', left_on = 'IDcorsi', right_on = 'Id')
result

In [ ]:
# Provare altri tipi di join: sostituire "inner" con: 

# outer
# left 
# right

# Cosa succede? Perché?

In [ ]:
result = pd.merge(matricole, corsi, how='right', left_on = 'IDcorsi', right_on = 'Id')
result

In [ ]:
result = pd.merge(matricole, corsi, left_on = 'IDcorsi', right_on = 'Id')
result

spoiler: I concetti di Join, prodotto cartesiano, union, e molto altro verranno ripresi in dettaglio al secondo anno all'interno del corso di **Basi di Dati**. E' molto importante avere una solida conoscenza sugli insiemi per capire l'algebra relazionale e SQL!